@media only screen and (max-width: 500px)  {
  .headergrid{
    display: grid;
    grid-template-area: ". . logo . nav"
                        ". head head head ."
                        ". tag tag tag ";

  }
  .dog {
    display:none;
  }
}

.logo {
  grid-column: 2;
  grid-row: 1;
}
.nav {
  grid-area: nav;
}
.title {
  grid-area: Title;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}
.tag {
  grid-area: Tag;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}
.dog {
  grid-area: dog;
  width: 30em;
}
.headergrid {
  display: grid;
  grid-template-rows: auto 50px auto;
  grid-template-columns: 10em auto auto auto 10em;
  grid-template-rows: 33.3% 33.3% 33.3%;
  grid-template-areas: ". logo nav nav nav ."
                       ". Title Title dog dog ."
                       ". Tag Tag . . .";
  grid-gap: 10px;
  padding: 3em;
  height: 50vh;
}


.heading { grid-area: heading;}
.paragraph { grid-area: content;}
.locations { grid-area: locations;}
.times { grid-area: times;}
.heading2 { grid-area: title;}
.sitting { grid-area: sitting;}
.sittingprice { grid-area: sittingprice;}
.smallpet { grid-area: visits;}
.smallpetprice { grid-area: visitsprice;}
.overnight { grid-area: overnight;}
.lastpar { grid-area: content2;}
.grid {
  display: grid;
  grid-template-areas: "heading ."
                       "content locations"
                       "content times"
                       "title title"
                       "sitting sittingprice"
                       "visits visitsprice"
                       "overnight overnightprice"
                       "content2 content2";
  grid-template-columns: 50% 50%;
  width: 80%;
  margin: 0 auto;
}
