body {
  background: url("../images/paws.svg") #DCEAFF;
  margin: 0;
  background-size: contain;
  background-repeat: repeat;
  background-position: left;
  font-family: 'Montserrat', sans-serif;
}
header {
  background: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}
nav a {
  font-size: 14pt;
  border: none;
  outline: none;
  background-color: inherit;
  margin: 0;
  padding: 15px;
  color: #FFFFFF;
  text-decoration: none;
}
p {
  font-family: 'Raleway', sans-serif;
}
